<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="false" internalLogLevel="Warn" internalLogFile="${basedir}/logs/NlogRecords.log">
  <!--Nlog内部日志记录为Off关闭。除非纠错，不可以设为Trace否则速度很慢，起码Debug以上-->
  <targets>
    <!--通过数据库记录日志 配置
    dbProvider请选择mysql或是sqlserver，同时注意连接字符串,需要安装对应的sql数据提供程序
    dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data" connectionString="server=192.168.137.10;database=EvMSDB;user=root;password=mysql@local"
    dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient" connectionString="Server=192.168.1.204;Database=EvMSDB;User ID=sa;Password=yzhly@126"
    -->
    <!--<target name="log_database" xsi:type="Database" dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data" connectionString="server=mysqltest.jshejia.net;database=evms4_zb;user=root;password=root;">
      <commandText>
        INSERT INTO TblLogRecords (LogDate,LogLevel,Logger,Message,MachineName,MachineIp,NetRequestMethod,NetRequestUrl,NetUserIsauthenticated,NetUserAuthtype,NetUserIdentity,Exception)
        VALUES(@LogDate,@LogLevel,@Logger,@Message,@MachineName,@MachineIp,@NetRequestMethod,@NetRequestUrl,@NetUserIsauthenticated,@NetUserAuthtype,@NetUserIdentity,@Exception);
      </commandText>
      <parameter name="@LogDate" layout="${date}" />
      <parameter name="@LogLevel" layout="${level}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@MachineName" layout="${machinename}" />
      <parameter name="@MachineIp" layout="${aspnet-request-ip}" />
      <parameter name="@NetRequestMethod" layout="${aspnet-request-method}" />
      <parameter name="@NetRequestUrl" layout="${aspnet-request-url}" />
      <parameter name="@NetUserIsauthenticated" layout="${aspnet-user-isauthenticated}" />
      <parameter name="@NetUserAuthtype" layout="${aspnet-user-authtype}" />
      <parameter name="@NetUserIdentity" layout="${aspnet-user-identity}" />
      <parameter name="@Exception" layout="${exception:tostring}" />
    </target>-->
    <!--<target name="logfile" xsi:type="File"
            concurrentWrites="true"
            fileName="${basedir}/logs/log.txt"
            archiveFileName="${basedir}/logs/archive/log.{#}.txt"
            archiveNumbering="Rolling"
            archiveEvery="Day"
            autoFlush="true"
            deleteOldFileOnStartup="false"
            createDirs="true"
            maxArchiveFiles="10"
            layout="${pad:padding=-5:fixedLength=True:inner=${level:uppercase=true}} : ${longdate} | ${logger} | ${message} ${onexception:inner=${newline}${exception:format=tostring}} ${newline} ${stacktrace} ${newline}" />
    -->
    <!--输出文件 按月归档，单个文件不超过2M，-->
    <!--
    <target name="log_file" xsi:type="File"
            concurrentWrites="true"
            fileName="${basedir}/logs/log.txt"
            archiveFileName="${basedir}/logs/archive/log.{#}.txt"
            archiveNumbering="DateAndSequence"
            archiveAboveSize="2097152"
            archiveEvery="Month"
            archiveDateFormat="yyyyMM"
            layout="${pad:padding=-5:fixedLength=True:inner=${level:uppercase=true}} : ${longdate} | ${logger} | ${message} ${onexception:inner=${newline}${exception:format=tostring}} ${newline} ${stacktrace} ${newline}" />-->
    <!--ColoredConsole彩色控制台 xsi:type="Console"是指定输出到普通控制台-->
    <target name="log_console" xsi:type="ColoredConsole"
            useDefaultRowHighlightingRules="false"
            layout="${pad:padding=-5:fixedLength=True:inner=${level:uppercase=true}} : ${longdate} | ${logger} | ${message} ${onexception:inner=${newline}${exception:format=tostring}}">
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray" />
      <highlight-word text="TRACE" foregroundColor="White" backgroundColor="DarkGray" ignoreCase="false"  wholeWords="true"/>
      <highlight-word text="DEBUG" foregroundColor="White" backgroundColor="DarkGreen" ignoreCase="false"  wholeWords="true"/>
      <highlight-word text="INFO " foregroundColor="White" backgroundColor="DarkCyan" ignoreCase="false"  wholeWords="false"/>
      <highlight-word text="WARN " foregroundColor="DarkGray" backgroundColor="Yellow" ignoreCase="false"  wholeWords="false"/>
      <highlight-word text="ERROR" foregroundColor="White" backgroundColor="Red" ignoreCase="false"  wholeWords="true"/>
      <highlight-word text="FATAL" foregroundColor="White" backgroundColor="Magenta" ignoreCase="false"  wholeWords="true"/>
    </target>
     <!--输出文件 按天归档，单个文件不超过1M，-->
    <target name="file123" xsi:type="File"
             layout="${longdate} ${logger} ${message}${exception:format=ToString}"
             fileName="${basedir}/logs/logfile.txt"
             maxArchiveFiles="4"
             archiveAboveSize="1048576"
             archiveEvery="Day" />
    <target name="file11" xsi:type="File"
             fileName="${basedir}/logs/logfile.txt"
              archiveFileName="${basedir}/logs/log.{#}.txt"
              archiveNumbering="DateAndSequence"
              archiveAboveSize="10240"
             maxArchiveFiles="4"
             archiveEvery="Day"
              archiveDateFormat="yyyyMMdd"
  />
  </targets>
  <rules>
    <!--跳过所有Info级别以下的Microsoft组件的日志记录-->
    <logger name="Microsoft.*" minlevel="Info" final="true" />
    <!--注意这里的name="*"，如果这里的name=xx了那么在C#的后台.cs文件使用日志的时候必须把xx当做参数来传递，否则没有日志输出-->
    <!--<logger name="*" minlevel="Info" writeTo="log_database" />-->
    <logger name="*" minlevel="Info" writeTo="log_console" />
    <!--<logger name="*" minlevel="Info" writeTo="log_file" />-->
    <!--<logger name="*" minlevel="Info" writeTo="logfile" />-->
    <logger name="*" minlevel="Info" writeTo="file11" />
  </rules>
</nlog>